@page {
    size: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.8cm;
}

body {
    margin-left: 0.55cm;
    margin-right: 0.55cm;
}

.tags-row {
    height: 3.8cm;
    width: 20.7cm;

    .tags-column {
        display: inline-block;
        max-height: 3.8cm;
        width: 6.3cm;
        margin-left: 0.15cm;
        margin-right: 0.15cm;
        text-align: center;
        vertical-align: middle;
    
        img {
            max-width: 6.3cm;
            max-height: 3.8cm;
            width: auto;
            height: auto;
        }
    }
}

.page-break {
    page-break-after: always;
}